*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  font-size: @font-size-text;
  line-height: 1.5em;
  font-weight: normal;
  background-color: @bc-body;
  color: @font-color;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}