.attraction__caption {
  margin-bottom: 30px;
}

.attraction__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.attraction__item:first-child {
  order: 1;
}

.attraction__item:last-child {
  order: 2;
}

@media screen and (min-width: 768px) {
  .attraction__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
}