.attraction__caption {
  margin-bottom: 30px;
}

.attraction__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @bc-card;
}

.attraction__item:nth-child(1) {
  order: 1;
}

.attraction__item:nth-child(2) {
  order: 3;
}

.attraction__item:nth-child(3) {
  order: 4;
}

.attraction__item:nth-child(4) {
  order: 5;
}

.attraction__item:nth-child(5) {
  order: 6;
}

.attraction__item:nth-child(6) {
  order: 2;
}

@media screen and (min-width: @tablet) {
  .attraction__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}