.photos__caption {
  padding: 38px 25px 26px;
}

.photos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: @tablet) {
  .photos {
    padding: 0 @padding-tablet;
  }

  .photos__caption {
    width: 480px;
    padding-top: 65px;
    padding-bottom: 67px;
  }

  .photos__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photos__list:last-child {
    border-bottom: none;
  }

  .photos__item {
    border-top: none;
  }

  .photos__item:nth-child(odd) {
    background-color: @bc-grey;
  }

  .photos__item:nth-child(even) {
    background-color: @bc-grey--dark;
  }
}

@media screen and (min-width: @desktop) {
  .photos {
    padding: 0;
  }

  .photos__caption {
    padding-top: 103px;
    padding-bottom: 68px;
  }
}