.photos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos__list:last-child {
  border-bottom: 1px solid @bc--desabled;
}

.photos__item {
  border-top: 1px solid @bc--desabled;
}

@media screen and (min-width: @tablet) {
  .photos {
    padding: 0 60px;
  }

  .photos__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photos__list:last-child {
    border-bottom: none;
  }

  .photos__item {
    border-top: none;
  }

  .photos__item:nth-child(odd) {
    background-color: @bc-grey;
  }

  .photos__item:nth-child(even) {
    background-color: @bc-grey--dark;
  }
}

@media screen and (min-width: @desktop) {
  .photos {
    padding: 0 30px;
  }
}