.cell {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  &--column {
    flex-direction: column;
    align-items: flex-start;
  }
  &--last {
    margin-bottom: 0;
  }
}

.cell__name {
  .font-text;
  &::after {
    content: ":";
  }
}

.cell__name--column {
  padding: 15px 20px;
}

.cell__wrapper {
  display: flex;
}

.cell__form {
  width: 100%;
  margin-left: 15px;
  padding: 15px 20px;
  font-size: @font-size-caption; /*18px*/
  font-weight: bold;
  line-height: 1.2em;
  text-transform: none;
  background-color: @bc-grey;
  border: none;
  &:hover {
    background-color: @bc-grey--hover;
  }
  &:active {
    background-color: @bc-body;
  }
  &::placeholder {
    color: @font-color--black;
  }
  &::-moz-placeholder { //не работает??
    color: @font-color--black;
  }
  &--column {
    margin: 0;
  }
  &--textarea {
    min-height: 160px;
  }
}

.cell__img {
  width: 58px;
  background-color: @bc-icon;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  &--tel {
    background-image: url(../img/phone.svg);
  }
  &--mail {
    background-image: url(../img/mail.svg);
  }
}

@media screen and (min-width: @tablet) {
  .cell__wrapper {
    width: 100%;
  }
}