.description__caption {
  margin: 0;
  .font-caption;
  margin-bottom: 15px;
}

.description__caption--light {
  color: @font-color-light;
}

.description__caption--information {
  position: relative;
  text-align: left;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    display: block;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}
.description__caption--information-house {
  &::before {
    width: 37px;
    background-image: url("../img/icon-house.svg");
  }
}

.description__caption--information-gift {
  &::before {
    width: 32px;
    background-image: url("../img/icon-gift.svg");
  }
}

.description__caption--information-food {
  &::before {
    width: 37px;
    background-image: url("../img/icon-burger.svg");
  }
}

.description__text {
  .font-text;
  &::before {
    content: "– №1 –";
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
}

.description__text--number2 {
  &::before {
    content: "– №2 –"
  }
}

.description__text--number3 {
  &::before {
    content: "– №3 –"
  }
}

.description__text--number4 {
  &::before {
    content: "– №4 –"
  }
}

.description__text--number5 {
  &::before {
    content: "– №5 –"
  }
}

.description__text--information {
  text-align: left;
  &::before {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .description--information {
    padding-left: 45px;
    padding-right: 45px;
    height: auto;
  }

  .description__caption {
    width: 130px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .description__caption--information {
    text-align: center;
    &::before {
      position: relative;
      top: 0px;
      left: 0px;
      height: 75px;
      margin: 0 auto 30px auto;
      transform: none;
    }
  }

  .description__caption--information-house {
    &::before {
      width: 75px;
    }
  }

  .description__caption--information-food {
    &::before {
      width: 75px;
    }
  }

  .description__caption--information-gift {
    &::before {
    width: 64px;
    }
  }

  .description__text {
    text-align: center;
  }
}