.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  text-align: center;
}

.card__description {
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 45px;
  padding-left: 20px;
  background-color: @bc-card;
}

.card__description--border {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 280px;
    height: 1px;
    transform: translate(-50%, 0);
    background-color: rgba(214, 214,214, 0.9);
  }
}

.card__description--blue {
  background-color: @bc-blue;
  color: @font-color-light;
}

.card__description--triangle {
  position: relative;
  padding-top: 60px;
  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 50%;
    width: 100%;
    height: 37px;
    transform: translate(-50%, 0);
    display: block;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.card__description--information {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 70px;
  background-color: @bc-body;
}

.card__description--information:last-child {
  padding-bottom: 40px;
}

.card__img-wrapper {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 256px;
  line-height: 0;
  overflow: hidden;
}

.card__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    width: 256px;
    margin: 0;
  }

  .card--with-img {
    flex-direction: row;
    width: 768px;
    background-color: @bc-blue;
  }

  .card--with-img-reverse {
    flex-direction: row-reverse;
  }

  .card__description {
    width: 256px;
    padding-top: 38px;
    padding-right: 45px;
    padding-bottom: 38px;
    padding-left: 45px;
  }

  .card__description--triangle {
    &::before {
      display: none;
    }
  }

  .card__description--border {
    &::after {
      display: none;
    }
  }

  .card__description--information {
    padding-top: 60px;
    padding-right: 45px;
    padding-bottom: 60px;
    padding-left: 45px;
  }

  .card__img-wrapper {
    width: 512px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 400px;
  }

  .card--with-img {
    width: 1200px;
  }

  .card__description {
    width: 400px;
    padding-right: 55px;
    padding-left:55px;
  }

  .card__img-wrapper {
    width: 800px;
  }
}