.networks__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.networks__item {
  width: 46px;
  height: 48px;
  margin: 3px;
  background-color: @bc-blue;
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: center;
  &:hover {
    background-color: @bc-blue--hover;
  }
  &:active {
    background-color: @bc-blue--active;
  }
}

.networks__item--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.networks__item--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.networks__item--youtube {
  background-image: url("../img/icon-youtube.svg");
}

.networks__link {
  display: block;
  width: 100%;
  height: 100%;
}