.intro {
  width: 300px;
  margin: 0 auto;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
}

.intro__caption {
  margin-bottom: 26px;
  font-family: "ptsansbold";
  font-size: 21px;
}

@media @m-w-tablet {
  .intro {
    width: 510px;
  }
}

@media @m-w-desktop {
  
}
