.intro {
  width: 300px;
  margin-top: 45px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
}

.intro__caption {
  margin-bottom: 26px;
  font-family: "ptsansbold";
  font-size: 21px;
}

@media screen and (min-width: 768px) {
  .intro {
    width: 510px;
    margin-top: 50px;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 1200px) {
}