.likebtn {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  .outline;
}

.likebtn__img {
  fill: rgb(0, 0, 0);
  fill-opacity: 0.3;
}

.likebtn__counter {
  .font-text;
  margin-left: 15px;
  line-height: initial;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: @tablet) {
  .likebtn {
    align-self: auto;
    min-width: 65px;
  }

  .likebtn_counter {
    margin-left: 10px;
  }
}

@media screen and (min-width: @desktop) {
  .likebtn__img {
    fill: @font-color-light;
    fill-opacity: 1;
  }

  .likebtn__counter {
    color: @font-color-light;
  }
}
