.font-caption {
  margin-bottom: 26px;
  padding: 0;
  font-size: @font-size-caption;
  line-height: 1.2em;
  text-transform: uppercase; 
  color: @font-color-caption;
  text-align: center;
}

.font-text {
  margin: 0;
  padding: 0;
  font-size: @font-size-text;
  line-height: 1.9em;
  text-transform: uppercase;
  text-align: center;
}

