.font-caption {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: @font-size-caption; /*18px*/
  line-height: 1.44em;
  text-transform: uppercase; 
  color: @font-color-caption;
}

.font-caption--tablet {
  font-family: @font-family--bold;
  font-size: @font-size-caption--tablet;
  line-height: 1.3em;
}


.font-text {
  margin: 0;
  padding: 0;
  font-size: @font-size-text; /*14px*/
  line-height: 1.86em;
  text-transform: uppercase;
}

.outline {
  cursor: pointer;
  &:focus {
    outline: 2px solid @bc-blue--active;
  }
}

.outline-for-cell-select__form {
  outline: 2px solid @bc-blue--active;
}