@font-color: rgb(51, 51, 51);
@font-family: "ptsans", Helvetica, Arial, sans-serif;
@bc-body: rgb(255, 255, 255);
@bc-header: rgb(129, 179, 210);
@m-w-tablet: (min-width: 768px);
@m-w-desktop: (min-width: 1200px);