@font-color: rgb(51, 51, 51);
@font-color-blue: rgb(129, 179, 210);
@font-color-caption: rgb(0, 0, 0);
@font-color-light: rgb(255, 255, 255);
@font-color--current: rgb(118, 99, 87);
@font-color--current-hover: rgb(96, 78, 67);
@font-color--current-active: rgb(118, 99, 87);
@font-size-text: 14px;
@font-size-caption: 18px;
@font-size-caption--big: 21px;
@font-family: "ptsans", Helvetica, Arial, sans-serif;
@bc-body: rgb(255, 255, 255, 1);
@bc-header: rgba(129, 179, 210, 1);
@bc-card: rgba(238, 238, 238, 1);
@bc-blue: rgba(129, 179, 210, 1);
@bc-blue--hover: rgba(102, 158, 192, 1);
@bc-blue--active: rgba(84, 150, 189, 1);
@bc-blue-opacity: rgba(129, 179, 210, 0.2);