.video__caption {
  padding-left: 40px;
  padding-right: 40px;
}

.video__controls {
  margin-top: -45px;
}

@media screen and (min-width: @tablet) {
  .video {
    padding: 0 60px;
  }

  .video__wrapper {
    position: relative;
  }

  .video__controls {
    margin-top: -93px;
  }
}

@media screen and (min-width: @desktop) {
  .video {
    padding-right: ((@desktop)-800px)/2;
    padding-left: ((@desktop)-800px)/2;
  }
}