.card-photo {
  position: relative;
  padding: 25px 20px;
}

.card-photo__link {
  display: block;
  width: 280px;
  height: 280px;
  margin-bottom: 25px;
}

.card-photo__description {
  margin-bottom: 15px;
}