.information__list {
  padding-inline-start: 0;
  list-style-type: none;
  background-color: @bc-body;
}

@media screen and (min-width: @tablet) {
  .information__list {
    display: flex;
    justify-content: center;
  }

  .information__item:nth-child(1) {
    order: 1;
  }

  .information__item:nth-child(2) {
    order: 3;
  }

  .information__item:nth-child(3) {
    order: 2;
  }
}