.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  background-color: @bc-body;
}

.main-footer__visit {
  .font-caption;
  display: block;
  margin-bottom: 0;
  font-size: @font-size-caption--big;
}

  .main-footer__networks,
  .main-footer__copyright {
    margin: 40px 0 0 0;
}

@media screen and (min-width: @tablet) {
  .main-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .main-footer__visit,
  .main-footer__networks,
  .main-footer__copyright {
    margin-top: 0;
  }
}