.main-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.main-footer__visit {
  .font-caption;
  margin: 40px 0 0 0;
  font-size: @font-size-caption--big;
}

.main-footer__networks {
  margin-top: 40px;
}

