.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 20px;
  text-align: center;
  background-color: @bc-body;
}

.main-footer__visit {
  .font-caption;
  display: block;
  margin-bottom: 0;
  font-size: @font-size-caption--big;
}

  .main-footer__networks,
  .main-footer__copyright {
    margin: 30px 0 0 0;
}

@media screen and (min-width: @tablet) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: (@tablet)-(@padding-tablet)*2;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .main-footer__visit,
  .main-footer__networks,
  .main-footer__copyright {
    margin-top: 0;
  }
}

@media screen and (min-width: @desktop) {
  .main-footer {
    width: (@desktop)-(@padding-desktop)*2;
  }
}