.btn {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "ptsansbold";
  font-weight: bold;
  font-size: @font-size-caption--big;
  line-height: 1.2em;
  text-transform: uppercase; 
  color: @font-color-light;
  background-color: @bc-blue;
}

@media screen and (min-width: 768px) {
  .btn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}